<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bao.dao.PublicBenefitActivitiesMapper">

    <resultMap id="BaseResultMap" type="com.bao.entity.PublicBenefitActivities">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="href" jdbcType="VARCHAR" property="href" />
    </resultMap>


    <select id="findPublicBenefitActivitiesList" resultMap="BaseResultMap">
        select * from publicBenefitActivities order by id
    </select>


</mapper>