<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bao.dao.VActivityMapper">

    <resultMap id="BaseResultMap" type="com.bao.entity.VActivity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="target" jdbcType="INTEGER" property="target" />
        <result column="job" jdbcType="INTEGER" property="job" />
        <result column="plan" jdbcType="INTEGER" property="plan" />
        <result column="number" jdbcType="INTEGER" property="number" />
        <result column="day" jdbcType="INTEGER" property="day" />
        <result column="href" jdbcType="VARCHAR" property="href" />
        <result column="map" jdbcType="VARCHAR" property="map" />
        <result column="date" jdbcType="TIMESTAMP" property="date" />
    </resultMap>


    <update id="updateVActivity">
        update v_activity
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="img != null">
                img = #{img,jdbcType=VARCHAR},
            </if>
            <if test="target != null">
                target = #{target,jdbcType=INTEGER},
            </if>
            <if test="job != null">
                job = #{job,jdbcType=INTEGER},
            </if>
            <if test="plan != null">
                plan = #{plan,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="day != null">
                day = #{day,jdbcType=INTEGER},
            </if>
            <if test="href != null">
                href = #{href,jdbcType=VARCHAR},
            </if>
            <if test="map != null">
                map = #{map,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>


    <delete id="deleteById">
        delete from v_activity where id = #{id}
    </delete>


    <select id="findVActivityList" resultMap="BaseResultMap">
        select * from v_activity
        <where>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="day!=null and day!=''">
                and day = #{day}
            </if>
            <if test="startDate!=null">
                <![CDATA[ and date >= #{startDate} ]]>
            </if>
            <if test="endDate!=null">
                <![CDATA[ and date <= #{endDate} ]]>
            </if>
        </where>
        order by id
    </select>

    <insert id="insert" parameterType="com.bao.entity.VActivity">
        insert into v_activity (name, img,target, job, plan, number, day, href, map, date)
        values (#{name,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR},
                #{target,jdbcType=INTEGER}, #{job,jdbcType=INTEGER},
                #{plan,jdbcType=INTEGER}, #{number,jdbcType=INTEGER},
                #{day,jdbcType=INTEGER}, #{href,jdbcType=VARCHAR},
                #{map,jdbcType=VARCHAR},#{date,jdbcType=TIMESTAMP})
    </insert>


</mapper>